<p id="notice"><%= notice %></p>
<%= link_to('+New Blog', new_blog_path, class:"btn btn-primary btn-xs pull-right") %>
<div class="container">
  <div class="span8">
    <h1> <%= link_to @blog.title, @blog %></h1>
    By:<%= link_to user_name(@blog), user_path(@blog.user_id)  %>
    <p><%= @blog.content %></p>
    <div>
      <span class="badge badge-success">Posted  <%= @blog.created_at%></span>
    </div>
    <div class="pull-right"> Tags:
      <span class="label">
        <% @blog.tags.each do |tag| %>
          <span class="badge badge-secondary"> <%= tag.name %> </span>
        <% end %>
      </span>
    </div>
    <td><%= link_to('Edit',edit_blog_path(@blog), class:"btn btn-warning")%></td>
    <td><%= link_to('Destroy',@blog, method: :delete, data:{confirm: "are you sure?"} ,class:"btn btn-danger")%></td>
    <hr>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-lg-12 col-sm-6 text-center">
        <div class="well">
          <h4>What is on your mind?</h4>
          <div class="input-group">
            <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
            <span class="input-group-btn" onclick="addComment()">
              <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
            </span>
          </div>
          <% @comments.each do |comment| %>
            <hr data-brackets-id="12673">
            <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
              <strong class="pull-left primary-font">Guest</strong>
            </br>
            <li class="ui-state-default"> <%= comment.body %> </li>
          </br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
